body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
}
.container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-self: center;
  width: 100%;
  height: 300px
  padding: 10px;
  margin: 45px auto;
}

/*------------------------Nav Bar ----------------------------------*/
nav .nav-bar-right{
  font-size: 1.35em;
  margin: 0;
}

nav ul li {
  list-style-type: none;
  cursor: pointer;
} 
nav ul li a {
  text-decoration: none;
  cursor: pointer;
  font-family: 'Finger Paint', cursive;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}
.nav-bar{
  
  background-color: #333;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 99%;
}
.nav-bar a {
  font-size: .95em;
  color: #fff;
  text-transform: uppercase;
}
.nav-nav a {
  font-size: .95em;
  color: #fff;
  text-transform: uppercase;
}
.nav-bar-right a,
.nav-bar-left a {
    text-align: center;
    display: block;
    padding: 10px 5px;
    margin: 10px;
  }
.nav-bar-left a {
      font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
  color: #fed136;
}
.nav-bar-right a:hover { 
  color: #fed136;
}

nav i #close-btn {
  display: none;
}
/*----------------------------end nav bar-------------------------------*/
a{
  text-decoration: none;
}
ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
.intro-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 90px;
  padding: 90px;
}
.intro-text a{
  border-radius: 10px;
  margin-bottom: 35px;
  margin-top: 20px;
  font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 22px;
  text-transform: none;
  background-color: #fed136;
  font-size: 20px;
  font-weight: 700; 
}

header {
  /*background-image: url("images/bg1.jpg");*/
  /*background: radial-gradient(#999999, #F7F7F7);*/
  /*background-image: url("images/binaire.jpg");*/
  background-image: url("images/computer.jpg");
  background-size: cover;
  width: 100%; 
}
header .container h2{
  margin-bottom: 25px;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
}
a{
  padding: 20px 40px;
  color: #fed136;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}
#page1{
  display: flex;
  width: 100%;
  min-height: 75vh;  
  margin-top: 40px;
  padding: auto;
  color: white;
}
/*################################## page2 Skills  ############################*/

#page2{
  display: flex;
  width: 100%;
  min-height: 75vh;  
  margin-top: 0px;
  padding: auto;
  /*background: radial-gradient(#0d896a, #08945d);*/
  background: radial-gradient(#999999, #F7F7F7);
  /*background-color: #F7F7F7;*/
}
#page2 .container{
  display: flex;
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100vh;
  /*background: radial-gradient(#0d896a, #08945d);*/
  /*margin-top: 20px;*/
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 50px;
}
#page2 .container h1 {
  display: flex;
  align-self: center;
  /*margin-top: 100px*/;
  margin-top: -50px
  min-height:100vh;
  color: #fff;
  text-transform: uppercase;
}
#page2 .container .skills li i.fa{
  align-self: center;
  font-size: 50px;
  margin-top: 3px;
  color: #4CAF50;
}
#page2 .container .skills{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  margin: 0 35px 0 15px;
}
#page2 .container .skills ul{
  padding-left: 0;
  margin-top: 0;
}
#page2 .container .skills ul h2{
  margin-top: 10px;
}
#page2 .container .skills ul [class*=" devicon-"], #page2 .container .skills ul [class^=devicon-] {
  font-size: 50px;
  margin: 5px;
}
 #page2 .container .skills li {
  width: 90%;
  align-self: center;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-top: 20px;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
  /*display: none;*/
}
#page2 .container .skills li hr {
  width: 75%;
  color: #000;
  border: 1px solid;
}

/* ====================Projects ==============================*/
#page3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh; 
  margin-top: 0px;
  padding: auto;
  color: white;
  
  /*background: radial-gradient(#51a4ee, #14375a);*/
  background-color: #999999;
  padding-top: 9vh;
}
#page3 h1 {
  margin-top: -20px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}
#page3 .all-projects {
  display: flex;
  align-self: center;
      flex-wrap: wrap;
  padding-left: 0;
  justify-content: space-around;
}

.hidden{
  display: none;
}
.project-details {
  padding: 10px;
  color: black;
  margin-left: 3px;
  display: flex;
  flex-direction: column;
}
#page3 .all-projects .project-details p {
  display: block;
  font-size: 19px;
  margin-top: 6px;
}
#page3 .all-projects .project-details h3 {
  text-align: center;
  margin: 8px;
}
#page3 .all-projects li {
  flex: 0 29%;
  list-style-type: none;
  align-self: space-around;
  margin: 5px;
/*  display: none;*/
  background-color: #00BCD4;
  border: 1px solid black;
  border-radius: 4px;
  border-right: 0;
  border-left: 0;
  background-color: #f0f2f5;
  padding: 15px;
  padding-bottom: 5px;
}
#page3 .all-projects li a {
  text-decoration: none;
}
#page3 .all-projects li .languages {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#page3 .all-projects li .languages i {
  font-size: 38px;
}
#page3 .all-projects li a.view-btn {
  display: inline-block;
  width: 100px;
  height: 20px;
  background-color: #0db75a;
  border: 1px solid #108e49;
  text-align: center;
  padding: 6px 0 2px 0;
  border-radius: 10px;
  color: #fff;
  align-self: center;
}
#page3 .all-projects li a.source-btn {
  display: inline-block;
  width: 100px;
  height: 20px;
  background-color: #E91E63;
  border: 1px solid #E91E63;
  text-align: center;
  padding: 6px 0 2px 0;
  border-radius: 10px;
  color: #fff;
  align-self: center;
}
#page3 .all-projects li img {
  width: 100%;
  border-radius: 4px;
  border-bottom: 2px solid black;
}

.button-container{
  display: flex;
  /*align-items:flex-end;*/
  /*align-self: flex-end;*/
  justify-content: space-between;
  margin-bottom: 
}
/* ==================== End Projects ==============================*/

/*====================== Page4 contact ============================*/
#page4 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 120px;
  background-image: url("images/world-map-black.png");
  background-size: cover;
  width: 100%; 
}
.contact-me {
    text-align: center;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}
#page4 .link {
  align-self: center;
  margin: 0 40px;
  cursor: pointer;
  /*display: none;*/
}
#page4 .link i {
  font-size: 60px;
  background-color: #fff;
}
#page4 .link .fa-linkedin-square {
  padding: 20px 26px;
  border-radius: 50%;
  color: #3E92FF;
}
#page4 .link .fa-envelope-o {
  padding: 20px;
  border-radius: 50%;
  color: #E91E63;
  font-size: 54px;
}
#page4 .link .fa-github {
  padding: 20px;
  border-radius: 50%;
  color: #000;
  font-size: 60px;
}

#page4 .link .fa-id-card-o{
  padding: 20px;
  border-radius: 50%;
  color: #000;
  font-size: 60px;
}
/*====================== End contact ============================*/

/* ################################## Footer ################################*/
.footbar{
  background-color: #000;
  color: #fff;
  height: 20px;
  padding-top: 7px;
  text-align: center;
}
.footbar h1{
  font-size: 1em;
  margin: 0.67em 0;
  font-weight: 400;
  display: inline;
}




/*========================
    Media Queries
==========================*/

@media(min-width: 769px){

/*
  #menu-bar {
  display: none;
  display: inline-block;
  font-size: 38px;
  color: #fff;
  position: absolute;
  top: 14px;
  right: 5%;
  width: 40px;
  padding: 1px;
  cursor: pointer;
  text-shadow: 0 0 2px black;
}*/
  /*#page2 .skills h2,*/
  /*#page1,
  #page2,
  #page3,
  #page4,*/
  .nav-bar,
  .nav-bar-right{
    display: flex;   
  }
  .nav-bar{
   /* display: flex;*/
    flex-direction:column;
    align-items: center;
  }





//
   /*#menu-bar {
    display: inline-block;
    margin-top: 10px;
    transform: color 0.4s;
    font-size: 26px;
  }*/
  /*#menu-bar:hover{
    color: orange;
  }*/
  //////


nav .nav-bar-right li {
    display: none;
    margin: 0 5px;
    width: 15%;
    text-align: center;
    min-width: 89px;
    padding: 3px;
  }
  .nav-bar-right li a:hover{
    color: none;
  }

  .active{
  color: #fff;
  border-bottom: 0;
  } 
  /*nav i #menu-bar {
    display: inline-block;
    margin-top: 10px;
    transform: color 0.4s;
    font-size: 26px;
  }*/
  /*nav i #menu-bar:hover{
    color: orange;
  }*/
  /*nav #close-btn {
    position: absolute;
    right: 5vw;
    top: 5vh;
    font-size: 22px;
    color: #f8f4f5;
    cursor: pointer;
  }*/
 /*nav .overlay {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #4c9daf;
    text-align: center;
  }
  nav .overlay #close-btn{
    display: inline-block;
  }
  nav .overlay li {
    display: block;
    color: white;
    margin: 14vh auto;
    text-align: center;
  }
  nav .overlay li a {
    cursor: pointer;
    padding: 20px 60px;
    font-size: 2vh;
    padding-left: 0;
  }*/


/* 1 ////////////////////////////// */


  #page2 .container .skills li{
    width: 90%;
    margin:10px 10px 20px -50px;
  }






}
@media(min-width: 1025px){
  
.nav-bar{
    /*color:white;*/
    flex-direction: row;
    justify-content: space-between;  
  }

///







#projects .all-projects li{
    width: 88%;
    min-width: 713px;
    margin: 10px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-self: center;
  }
  
  #projects .all-projects li img{
   width: 48%;
   height: 48%;
   align-self: center;
  }

  #projects .all-projects .project-details{
    flex: 0 48%;
  }
  #projects .all-projects .project-details h3{
    margin:0;
  }
  #projects .all-projects .project-details p{
    font-size: 17px;
    margin: 7px;
  }

}