/* latin-ext */
@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: local('Kaushan Script'), local('KaushanScript-Regular'), url(http://fonts.gstatic.com/s/kaushanscript/v5/qx1LSqts-NtiKcLw4N03IJsabQn3CiWJQhcyqO-X-wo.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: local('Kaushan Script'), local('KaushanScript-Regular'), url(http://fonts.gstatic.com/s/kaushanscript/v5/qx1LSqts-NtiKcLw4N03IJsM3FTMmj2kTPH3yX99Yaw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/*-------------------------*/
body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
}
.container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-self: center;
  width: 100%;
  height: 300px
  padding: 10px;
  margin: 45px auto;
}

/*------------------------Nav Bar ----------------------------------*/
nav .nav-bar-right{
  font-size: 1.35em;
  margin: 0;
}

nav ul li {
  list-style-type: none;
  cursor: pointer;
} 
nav ul li a {
  text-decoration: none;
  cursor: pointer;
  font-family: 'Finger Paint', cursive;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}
.nav-bar{
  background-color: #333;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 99%;
}
.nav-bar a {
  font-size: .95em;
  color: #fff;
  /*text-transform: uppercase;*/
}
.nav-bar-right a,
.nav-bar-left a {
  text-align: center;
  display: block;
  padding: 10px 5px;
  margin: 10px;
  }
.nav-bar-left a {
  font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
  color: #fed136;
}
.nav-bar-right a:hover { 
  color: #fed136;
  font-size: 110%
}

/*----------------------------end nav bar-------------------------------*/
a{
  text-decoration: none;
}
ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
.intro-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 90px;
  padding: 90px;
}
.intro-text a{
  border-radius: 10px;
  margin-bottom: 35px;
  margin-top: 20px;
  font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 22px;
  /*text-transform: none;*/
  background-color: #fed136;
  font-size: 20px;
  font-weight: 700; 
}
.intro-text a:hover{
color: grey;
font-size: 150%
}
/*.intro-text:hover{
  color:white;
}*/

header {
  /*background-image: url("images/bg1.jpg");*/
  /*background: radial-gradient(#999999, #F7F7F7);*/
  /*background-image: url("images/binaire.jpg");*/
  background-image: url("images/computer.jpg");
  background-size: cover;
  width: 100%; 
}
header .container h2{
  margin-bottom: 25px;
  /*text-transform: uppercase;*/
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
}
a{
  padding: 20px 40px;
  color: #fed136;
  /*text-transform: uppercase;*/
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}
#page1{
  display: flex;
  width: 100%;
  min-height: 75vh;  
  margin-top: 40px;
  padding: auto;
  color: white;
}
/****************************************Page2 About***************************/
/*body{
  margin: 0;
  box-sizing: border-box;
}*/
/*#page2{
  display: flex;
  width: 100%;
  min-height: 75vh;  
  margin-top: 0px;
  padding: auto;
  background: radial-gradient(#0d896a, #08945d);
  background: radial-gradient(#999999, #F7F7F7);
  background-color: #F7F7F7;
}*/
 #page2 #about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 40px;
  padding:95px;
}
#about p{
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  letter-spacing: 0.4px;
}
#about b{
  font-size: 24px;
  text-transform: uppercase;
}
/*#about b:nth-child(1){
  color: red;
}
#about b:nth-child(2){
  color: #00BCD4;
}
#about b:nth-child(3){
  color: #FF9800;
}
#about b:nth-child(4){
  color: #32d038;
}
#about b:nth-child(5){
  color: #E91E63;
}
#about b:nth-child(5){
  color: #607D8B;
}*/
#about p a{
  color: #1FCECB;
  font-weight: bolder;
  text-decoration: underline;
}
.photo{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 99vw;
  margin-top: -230px;
/*   background-color: #1fa67a; */
 background-color: grey; */

}
.photo img{
  width: 250px;
  border-radius: 50%;
  align-self: center;
  /*display: none;*/

}
.info{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  animation-duration: 3s;
}
.info h1{
  /*margin-left: auto;*/
  margin: 0 0 0 400px;
 /* color:white;*/
}
.hobby h1{
  margin: 0 0 0 40px;

}
/*#devider{
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: #130B08;
}*/
#text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 70vw;
  margin-left: 400px;
}
#text span p a{
  color: #fed136;
  padding: 2px;
}
.hobby{
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.hobby-wrapper{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.hobby-items i.fa{
  font-size: 32px;
  color: #fff;
}
.hobby-items span{
  font-size: 10px;
  margin-top: 9px;
  padding: 1px;
  color: #fff;

}
.hobby-items{
  display: flex;
  flex-basis: 100px;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
  background-color:#fed136;;
  border-radius: 50%;
  box-sizing: border-box;
  height: 100px;
}
@media only screen and (max-width: 800px) {
  .hobby-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .hobby-items{
    width: 33%;
    margin: 7px;
    display: flex;
    flex-direction: column;
  }
}
/****************************End About Page**********************





/*################################## page3 Skills  ############################*/

#page3{
  display: flex;
  width: 100%;
  min-height: 75vh;  
  margin-top: 0px;
  padding: auto;
  /*background: radial-gradient(#0d896a, #08945d);*/
  background: radial-gradient(#999999, #F7F7F7);
  /*background-color: #F7F7F7;*/
}
#page3 .container{
  display: flex;
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100vh;
  /*background: radial-gradient(#0d896a, #08945d);*/
  /*margin-top: 20px;*/
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 50px;
}
#page3 .container h1 {
  display: flex;
  align-self: center;
  margin:10px 0 20px 0;
  margin-top: -50px
  min-height:100vh;
  color: #fff;
  /*text-transform: uppercase;*/
}
#page3 .container .skills li i.fa{
  align-self: center;
  font-size: 50px;
  margin-top: 3px;
  color: #fed136;
}
#page3 .container .skills{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  margin: 0 35px 0 15px;
}
#page3 .container .skills ul{
  padding-left: 0;
  margin-top: 0;
}
#page3 .container .skills ul h2{
  margin-top: 10px;
}
#page3 .container .skills ul [class*=" devicon-"], #page3 .container .skills ul [class^=devicon-] {
  font-size: 50px;
  margin: 5px;
}
 #page3 .container .skills li {
  width: 90%;
  align-self: center;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-top: 20px;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
  /*display: none;*/
}
#page3 .container .skills li hr {
  width: 75%;
  color: #000;
  border: 1px solid;
}

/* ====================Projects ==============================*/
#page4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh; 
  margin-top: 0px;
  padding: auto;
  color: white;
  background-color: #999999;
  padding-top: 9vh;
}
#page4 h1 {
  margin-top: -20px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}
#page4 .all-projects {
  display: flex;
  align-self: center;
      flex-wrap: wrap;
  padding-left: 0;
  justify-content: space-around;
}

.hidden{
  display: none;
}
.project-details {
  padding: 10px;
  color: black;
  margin-left: 3px;
  display: flex;
  flex-direction: column;
}
#page4 .all-projects .project-details p {
  display: block;
  font-size: 19px;
  margin-top: 6px;
}
#page4 .all-projects .project-details h3 {
  text-align: center;
  margin: 8px;
}
#page4 .all-projects li {
  flex: 0 29%;
  list-style-type: none;
  align-self: space-around;
  margin: 5px;
  border: 1px solid black;
  border-radius: 4px;
  border-right: 0;
  border-left: 0;
  background-color: #f0f2f5;
  padding: 15px;
  padding-bottom: 5px;
}
#page4 .all-projects li a {
  text-decoration: none;
}
#page4 .all-projects li .languages {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#page4 .all-projects li .languages i {
  font-size: 38px;
}
#page4 .all-projects li a.view-btn {
  display: inline-block;
  width: 100px;
  height: 20px;
  background-color: #fed136;
  border: 3px solid #999999;
  text-align: center;
  padding: 6px 0 2px 0;
  border-radius: 8px;
  color: black;
  align-self: center;
}
#page4 .all-projects li a.view-btn:hover{
  color:grey;
  font-size: 20px;
}
#page4 .all-projects li a.source-btn {
  display: inline-block;
  width: 100px;
  height: 20px;
  background-color: #fed136;
  border: 3px solid #999999;
  text-align: center;
  padding: 6px 0 2px 0;
  border-radius: 8px;
  /*color: #fff;*/
  color: black;
  /*color: #fed136;*/
  align-self: center;
}
#page4 .all-projects li a.source-btn:hover{
  color:grey;
  font-size: 20px;
}
#page4 .all-projects li img {
  width: 100%;
  border-radius: 4px;
  border-bottom: 2px solid black;
  margin-top: 5px;
}
.button-container{
  display: flex;
  /*align-items:flex-end;*/
  /*align-self: flex-end;*/
  justify-content: space-between;
  margin-bottom: 
}
/* ==================== End Projects ==============================*/

/*====================== Page4 contact ============================*/
#page5 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 120px;
  background-image: url("images/world-map-black.png");
  background-size: cover;
  width: 100%; 
}
.contact-me {
    text-align: center;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}
#page5 .link {
  align-self: center;
  margin: 0 40px;
  cursor: pointer;
  /*display: none;*/
}
#page5 .link i {
  font-size: 60px;
  background-color: #fff;
}
#page5 .link .fa-linkedin-square {
  padding: 20px 26px;
  border-radius: 50%;
  color: #3E92FF;
}
#page5 .link .fa-envelope-o {
  padding: 20px;
  border-radius: 50%;
  color: #E91E63;
  font-size: 54px;
}
#page5 .link .fa-github {
  padding: 20px;
  border-radius: 50%;
  color: #000;
  font-size: 60px;
}

#page4 .link .fa-id-card-o{
  padding: 20px;
  border-radius: 50%;
  color: #000;
  font-size: 60px;
}
/*====================== End contact ============================*/

/* ################################## Footer ################################*/
.footbar{
  background-color: #000;
  color: #fff;
  height: 20px;
  padding-top: 7px;
  text-align: center;
}
.footbar h1{
  font-size: 1em;
  margin: 0.67em 0;
  font-weight: 400;
  display: inline;
}

/*========================
    Media Queries
==========================*/

@media(min-width: 769px){
  .nav-bar,
  .nav-bar-right{
    display: flex;   
  }
  .nav-bar {
   /* display: flex;*/
    flex-direction:column;
    align-items: center;
  }

  .nav-bar-right li a:hover{
    color: none;
  }
  .active{
  color: #fff;
  border-bottom: 0;
  } 
  #page2 .container .skills li{
    width: 90%;
    margin:10px 10px 20px -50px;
  }
}

@media(min-width: 1025px){
  .nav-bar{  
    flex-direction: row;
    justify-content: space-between;  
  }
  #projects .all-projects li{
    width: 88%;
    min-width: 713px;
    margin: 10px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-self: center;
  }
  
  #projects .all-projects li img{
   width: 48%;
   height: 48%;
   align-self: center;
  }

  #projects .all-projects .project-details{
    flex: 0 48%;
  }
  #projects .all-projects .project-details h3{
    margin:0;
  }
  #projects .all-projects .project-details p{
    font-size: 17px;
    margin: 7px;
  }

}



